.login-input {
    height: 44px !important;
    font-size: 16px;
  }

.login-form-button {
    height: 44px;
}
  
  .login-input::placeholder {
    color: rgba(0, 0, 0, 0.55) !important;
    font-weight: 500;
  }
  
  @media (max-width: 600px) {
    .login-input {
      height: 54px !important;
      font-size: 18px;
    }
  
    .login-input::placeholder {
      color: rgba(0, 0, 0, 0.7) !important;
    }
  }
  